:root {
  /* primary colors */
  --col-primary-light:#ffffff;
  --col-primary-light-50:#eee;
  --col-primary-dark:#8d99af;
  --col-primary-dark-50:#adb6bd;

  /* secondary colors */
  --col-secondary-light:#13213c;
  --col-secondary-dark:#000000;

  /* text colors */
  --col-text-primary:#000;
  --col-text-primary-50:#555;
  --col-text-dark:#333;
  --col-text-secondary:#13213c;

}